<div class="col-md-6 offset-md-3 order-0 order-sm-1">
    <div class="text-center pb-4 pt-4">
        <img src="/img/logo.png" width="60" alt="THX Logo" />
    </div>
    <div class="card shadow-sm mb-5 w-100">
        <div class="card-body p-sm-5">
            <strong class="h3 d-block text-dark text-center mb-5">
                Account Management
            </strong>
            <% if (locals.alert && alert.message) { %>
            <div class="alert alert-<%= alert.variant %>">
                <%= alert.message %>
            </div>
            <% } %>
            <div class="row form-group">
                <div class="d-flex col-4 align-items-center font-weight-bold">
                    Email:
                </div>
                <% } %>

                    <div class="container-fluid">
                        <form id="account_update" autocomplete="off" action="/oidc/<%= uid %>/update" method="post">
                            <div class="row pb-3">
                                <div class="d-flex col-4 align-items-center font-weight-bold">
                                    First name:
                                </div>
                                <div class="col-8">
                                    <input class="form-control" name="first_name" required
                                        value="<%= params.first_name %>" placeholder="Ex: John" />
                                </div>
                            </div>

                            <div class="row pb-3">
                                <div class="d-flex col-4 align-items-center font-weight-bold">
                                    Last name:
                                </div>
                                <div class="col-8">
                                    <input class="form-control" name="last_name" required
                                        value="<%= params.last_name %>" placeholder="Ex: Connol" />
                                </div>
                            </div>

                            <div class="row pb-3">
                                <div class="d-flex col-4 align-items-center font-weight-bold">
                                    Email:
                                </div>
                                <div class="col-8">
                                    <input class="form-control" name="email" required value="<%= params.email %>"
                                        placeholder="account@thx.network" />
                                </div>
                            </div>

                            <div class="row pb-3">
                                <div class="d-flex col-4 align-items-center font-weight-bold">
                                    Type:
                                </div>
                                <div class="col-8">
                                    <select name="type" class="form-control">
                                        <option <%=params.type=='individual' ? 'selected' : '' %>
                                            value="individual">Individual</option>
                                        <option <%=params.type=='organisation' ? 'selected' : '' %>
                                            value="organisation">Organisation</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row pb-3">
                                <div class="d-flex col-4 align-items-center font-weight-bold">
                                    Organisation:
                                </div>
                                <div class="col-8">
                                    <input class="form-control" name="organisation" value="<%= params.organisation %>"
                                        placeholder="THX Network" />
                                </div>
                            </div>

                            <div class="row pb-3">
                                <div class="d-flex col-4 align-items-center font-weight-bold">
                                    Plan:
                                </div>
                                <div class="col-8">
                                    <select name="plan" class="form-control">
                                        <option <%=params.plan=='solo' ? 'selected' : '' %> value="solo">Solo</option>
                                        <option <%=params.plan=='community' ? 'selected' : '' %>
                                            value="community">Community
                                        </option>
                                        <option <%=params.plan=='creator' ? 'selected' : '' %> value="creator">Creator
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <input type="hidden" name="uid" value="<%= uid %>" />


                        </form>

                        <div class="row">
                            <div class="d-flex col-4 align-items-center font-weight-bold">
                                MFA Status:
                            </div>
                            <div class="col-8">
                                <% if (params.mfaEnable) { %>
                                    <form autocomplete="off" action="/oidc/<%= uid %>/totp-setup" method="post">
                                        <button class="btn rounded-pill btn-primary btn-block">Activated</button>
                                        <input type="hidden" name="otpSecret" value="<%= params.otpSecret %>" />
                                        <input type="hidden" name="disable" value="true" />
                                        <input type="hidden" name="uid" value="<%= uid %>" />

                                    </form>
                                    <% } %>
                                        <% if (!params.mfaEnable) { %>
                                            <form autocomplete="off" action="/oidc/<%= uid %>/totp-setup" method="post">
                                                <button type="submit" class="btn btn-gray btn-block">Click
                                                    to Activate</button>
                                                <input type="hidden" name="otpSecret" value="<%= params.otpSecret %>" />
                                                <input type="hidden" name="uid" value="<%= uid %>" />

                                            </form>
                                            <% } %>

                            </div>
                        </div>
                    </div>

                    <button class="mt-4 btn rounded-pill btn-primary btn-block" type="submit"
                        form="account_update">Update</button>

        </div>
    </div>
</div>