<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <title>THX | Login</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no,maximum-scale=1">
    <link rel="stylesheet" href="/main.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon.png?v=pgdmXmoa2w">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png?v=pgdmXmoa2w">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png?v=pgdmXmoa2w">
    <link rel="manifest" href="/site.webmanifest?v=pgdmXmoa2w">
    <link rel="mask-icon" href="/img/icons/safari-pinned-tab.svg?v=pgdmXmoa2w" color="#5bbad5">
    <link rel="shortcut icon" href="/img/icons/favicon.ico?v=pgdmXmoa2w">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>

<body class="d-flex w-100 h-100 bg-light align-items-center justify-content-center">
    <main class="card card-white">
        <div class="card-body">
            <% if (client.logoUri) { %><img src="<%= client.logoUri %>">
                <% } %>

                    <ul>
                        <% if ([details.scopes.accepted, details.scopes.rejected, details.claims.accepted,
                           details.claims.rejected].every(({ length })=> length === 0)) { %>
                            <li>this is a new authorization</li>
                            <% } %>

                                <% if ([details.scopes.new, details.claims.new].every(({ length })=> length === 0)) { %>
                                    <li>the client is asking you to confirm previously given authorization</li>
                                    <% } %>

                                        <% newScopes=new Set(details.scopes.new); newScopes.delete('openid');
                                           newScopes.delete('offline_access') %>
                                            <% if (newScopes.size) { %>
                                                <li>scopes:</li>
                                                <ul>
                                                    <% newScopes.forEach((scope)=> { %>
                                                        <li>
                                                            <%= scope %>
                                                        </li>
                                                        <% }) %>
                                                </ul>
                                                <% } %>

                                                    <% newClaims=new Set(details.claims.new); ['sub', 'sid'
                                                       , 'auth_time' , 'acr' , 'amr' , 'iss'
                                                       ].forEach(Set.prototype.delete.bind(newClaims)) %>
                                                        <% if (newClaims.size) { %>
                                                            <li>claims:</li>
                                                            <ul>
                                                                <% newClaims.forEach((claim)=> { %>
                                                                    <li>
                                                                        <%= claim %>
                                                                    </li>
                                                                    <% }) %>
                                                            </ul>
                                                            <% } %>

                                                                <% if (params.scope &&
                                                                   params.scope.includes('offline_access')) { %>
                                                                    <li>
                                                                        the client is asking to have offline access to
                                                                        this authorization
                                                                        <% if
                                                                           (!details.scopes.new.includes('offline_access'))
                                                                           { %>
                                                                            (which you've previously granted)
                                                                            <% } %>
                                                                    </li>
                                                                    <% } %>
                    </ul>
                    <form autocomplete="off" action="/interaction/<%= uid %>/confirm" method="post">
                        <button autofocus type="submit" class="btn btn-block btn-primary">Continue</button>
                    </form>
        </div>
    </main>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                'event': 'gtm.js',
            });
            const f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', "<%= gtm %>");
    </script>
</body>

</html>