<div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4 order-0 order-sm-1">
    <div class="text-center pb-4 pt-4">
        <img src="/img/logo.png" width="60" alt="THX Logo" />
    </div>
    <div class="card shadow-sm mb-5">
        <div class="card-body pt-sm-5 px-sm-5 pb-sm-3">
            <% if (alert && alert.message) { %>
                <div class="alert alert-<%= alert.variant %>">
                    <%= alert.message %>
                </div>
                <% } %>
                    <% if (params.authentication_token && params.secure_key) { %>
                        <form autocomplete="off" action="/oidc/<%= uid %>/password" method="post">
                            <strong class="h2 d-block text-dark text-center mb-4">Set a password</strong>
                            <div class="form-group">
                                <label>Password:</label>
                                <input class="form-control" autocomplete="off" required type="password" name="password">
                            </div>
                            <div class="form-group">
                                <label>Repeat password:</label>
                                <input class="form-control" autocomplete="off" required type="password"
                                       name="passwordConfirm">
                            </div>
                            <div class="form-group">
                                <div class="m-0 custom-control custom-checkbox b-custom-control-sm">
                                    <input id="acceptTermsPrivacy" type="checkbox" name="acceptTermsPrivacy"
                                           class="custom-control-input" value="true"><label for="acceptTermsPrivacy"
                                           class="custom-control-label font-weight-normal"> I agree to
                                        THX' <a href="<%= publicUrl %>/general-terms-and-conditions.pdf"
                                           target="_blank">terms of use</a> and <a
                                           href="<%= publicUrl %>/privacy-policy.pdf" target="_blank">privacy
                                            statement</a></label>
                                </div>
                                <div class="custom-control custom-checkbox b-custom-control-sm"><input
                                           id="acceptUpdates" type="checkbox" name="acceptUpdates"
                                           class="custom-control-input" value="true"><label for="acceptUpdates"
                                           class="custom-control-label font-weight-normal">
                                        Opt-in to
                                        receive updates from THX on its products, you can opt-out at any
                                        time. </label>
                                </div>
                            </div>
                            <input type="hidden" name="authenticationToken"
                                   value="<%= params.authentication_token %>" />
                            <input type="hidden" name="secureKey" value="<%= params.secure_key %>" />
                            <input type="hidden" name="returnUrl" value="<%= params.return_url %>" />

                            <hr>

                            <button type="submit" class="btn rounded-pill btn-primary btn-block">
                                Sign in
                                <i class="fas fa-chevron-right" aria-hidden="true"></i>
                            </button>
                        </form>
                        <% } else { %>
                            <strong class="h2 d-block text-dark text-center mb-4">
                                Hello!
                            </strong>
                            <p>
                                Sign in with your social account or an existing THX account.
                                <a href="#" data-toggle="tooltip"
                                   title="We will create a new account if the email address used for authentication has not been used for a sign up.">
                                    <i class="fas fa-question-circle" aria-hidden="true"></i>
                                </a>

                            </p>
                            <a class="btn btn-sign-in btn-google btn-block" href="<%= params.googleLoginUrl %>">
                                <div class="logo">
                                    <img src="/img/g-logo.png" alt="Google logo" />
                                </div>
                                <div class="label">Sign in with Google</div>
                            </a>
                            <!-- <a class="btn btn-sign-in btn-twitter btn-block disabled cursor-not-allowed"
                               href="<%= params.twitterLoginUrl %>">
                                <div class="logo">
                                    <img src="/img/t-logo.png" alt="Twitter logo" />
                                </div>
                                <div class="label">Sign in with Twitter</div>
                            </a> -->
                            <hr>
                            <form autocomplete="off" action="/oidc/<%= uid %>/login" method="post" class="mb-4">

                                <div class="form-group">
                                    <label>E-mail:</label>
                                    <input class="form-control" required type="email" name="email">
                                </div>
                                <div class="form-group">
                                    <label>Password:</label>
                                    <input class="form-control" required type="password" name="password">
                                </div>
                                <input type="hidden" name="returnUrl" value="<%= params.return_url %>" />

                                <button type="submit" class="btn rounded-pill btn-primary btn-block">
                                    Sign in
                                    <i class="fas fa-chevron-right" aria-hidden="true"></i>
                                </button>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="btn btn-link" href="/oidc/<%= uid %>/forgot">
                                    Can't sign in?
                                </a>
                                <span class="text-muted">|</span>
                                <a class="btn btn-link" href="<%= params.return_url %>/signup">
                                    Sign up for an account
                                </a>
                            </div>

                            <% } %>
        </div>
    </div>
</div>