<div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4 order-0 order-sm-1">
    <div class="text-center pb-4 pt-4">
        <img src="/img/logo.png" width="60" alt="THX Logo" />
    </div>
    <div class="card shadow-sm mb-5">
        <div class="card-body p-sm-5">
            <% if (locals.alert && alert.message) { %>
                <div class="alert alert-<%= alert.variant %>">
                    <%= alert.message %>
                </div>
                <% } %>

                    <div>
                        <% if (params.disable) { %>
                        <strong class="h3 d-block text-dark text-center">
                            Successfully disabled MFA from your account.
                        </strong>
                        <% } %>

                        <% if (!params.disable) { %>
                            <% if (!params.already) { %>
                            <strong class="h2 d-block text-dark text-center">
                                Scan this QR code with your authentication app
                            </strong>
                            <img width="100%" src="<%= params.qr_code %>" />

                            <form autocomplete="off" action="/oidc/<%= uid %>/totp-setup" method="post">
                                <div class="p-2">
                                    <input placeholder="Enter code from your phone here" class="form-control autocomplete="
                                        off" required name="code" />
                                    <input type="hidden" name="uid" value="<%= uid %>" />
                                    <input type="hidden" name="secret" value="<%= params.secret %>" />
                                    <input type="hidden" name="qr_code" value="<%= params.qr_code %>" />
                                </div>

                                <button type="submit" class="btn rounded-pill btn-primary btn-block">
                                    Submit
                                    <i class="fas fa-chevron-right" aria-hidden="true"></i>
                                </button>

                            </form>
                            <% } %>

                            <% if (params.already) { %>
                                <strong class="h3 d-block text-dark text-center mb-4">
                                    Do you want to disable current MFA setup on your account?
                                </strong>
                                <form autocomplete="off" action="/oidc/<%= uid %>/totp-setup" method="post">
                                    <input type="hidden" name="disable" value="true" />
                                    <input type="hidden" name="uid" value="<%= uid %>" />
                                    <button type="submit" class="btn rounded-pill btn-primary btn-block">
                                        Disable my MFA
                                        <i class="fas fa-chevron-right" aria-hidden="true"></i>
                                    </button>
                                </form>


                            <% } %>
                        <% } %>


                    </div>
        </div>
    </div>
</div>